.catalog {
  overflow-x: hidden;
  padding-top: 24px;

  @media (min-width: 580px) {
    padding-top: 32px;
  }

  @media (min-width: 820px) {
    padding-top: 40px;
  }

  &__container {
    padding: 0;

    @media (min-width: 1120px) {
      padding: 0 92px;
    }
  }

  &__list {
    overflow-y: auto;
    padding: 0 16px;
    display: flex;
    gap: 4px;

    @media (min-width: 580px) {
      padding: 0 29px;
    }
    @media (min-width: 820px) {
      padding: 0 43px;
    }
    @media (min-width: 1120px) {
      padding: 0;
    }
  }

  &__link {
    display: block;
    padding: 8px 14px 10px;
    color: #969EAE;
    border-radius: 32px;
    background-color: #EEEFF2;
    outline: none;
    border: 1px solid transparent;

    &:hover,
    &:focus-visible {
      border: 1px solid #780096;
      color: #780096;
    }

    &:active,
    &_active {
      color: #fff;
      background: #780096;
      &:hover,
      &:focus-visible {
        color: #fff;
      }
    }
    &_active {
      pointer-events: none;
    }
  }
}
